body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 30, 30);
  color: beige;
}

.canvas {
  border: 3px solid black;
  border-radius: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.lista_container{
  min-height: 70vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista{
  position: relative;
  display: flex;
  flex-direction: row;
}

.lista li{
  position: relative;
  top: 100%;
  list-style: none;
  border: 3px solid black;
  padding: 20px;
  margin: 0 50px;
  background-color: rgb(32, 207, 213);
  background-position: center center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;

}
.lista a {
text-decoration: none;
color: black;
}

.lista li p{
  transition: color 1s ease;
}
.lista li:hover p {
color: transparent;
}
.lista li:hover{
  transform: scale(1.5);
}
.lista li:active{
  transform: translate(0px, -50px);
}
#lista{
  animation: topToHalf 2s ease-out;
}

@keyframes topToHalf {
  0% {
      left: -50%;
  }
  100%{
      left: 0%;
  }

}
.bg-ej2,.bg-ej3,.bg-ej11{
  background-color: aquamarine;
  transition: all 2s ease;
}
.bg-ej2:hover{
  background-image: url(img/ej2.jpeg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-ej3:hover{
  background-image: url(img/ej3.jpeg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-ej11:hover{
  background-image: url(img/ej11.jpeg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.active {
  background-color: black !important;
  color: aliceblue;
}
.active p { 
color: aliceblue;
}

.data_container{
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.608);
  color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}